<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itmuch.contentcenter.mapper.RocketmqTransactionLogMapper">
  <resultMap id="baseResultMap" type="com.itmuch.contentcenter.model.RocketmqTransactionLog">
    <id property="id" column="id" jdbcType="INTEGER"/>
    <result property="transactionId" column="transaction_Id" jdbcType="VARCHAR"/><!-- 事务id -->
    <result property="log" column="log" jdbcType="VARCHAR"/><!-- 日志 -->
  </resultMap>
</mapper>